@model IEnumerable<RL_3.Models.RL_EMPLEADO>

@{
    ViewBag.Title = "Consulta de acceso";
}

<h2>Consulta de Acceso</h2>
<hr />
<!--CONTENEDOR CON CAMPO DE TEXTO PARA INGRESAR EL NO. DE EMPLEADO -->
<div class="container">
    <div class="row">
        <h3 class="form-signin-heading text-muted">Ingrese el número de empleado:</h3>
        <div class="col col-lg-5 col-md-5 col-sm-5">                  
            <input type="number" class="form-control" required="" autofocus="" id="noEmp">
            <h5 id="aviso"></h5>
        </div>
        <div class="col col-lg-1 col-md-1 col-sm-1">
            <a data-toggle="tooltip" title="Buscar" class="frmBoton" id="btnConsulta" href="#"><i class="glyphicon glyphicon-search"></i></a> 
        </div>

        <div class="col col-lg-6 col-md-6 col-sm-6">
            <div id="dispDatos">
                <input type="text" id="idEmp" hidden>
                <h4 id="nombreE"></h4>
                <h5 id="puestoE"></h5>
                <h5 id="corporativoE"></h5>
            </div>            
        </div>
     </div>    
</div>

